@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root{
    --primary-color:rgb(129, 255, 4);
    --primary-title:30px
}



/* colors 

-color name 

-rgb   (red green blue)    0-255
-hex   0- f 

*/





.cls{
    /* color:#1638cc; */
    /* color: color-mix(in srgb, rgb(53, 29, 29) 30%, rgb(77, 255, 0) 70%) */
    /* background-color: red;
    width */
   
   
    
}




body{
  /* color: white; */
   /* background-image: url(https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630); */
   /* background-repeat: no-repeat;
   background-size: cover; */

   
    

}
/* body{
   background-image: radial-gradient( circle farthest-corner at 6.3% 21.8%,  rgba(236,6,117,1) 0%, rgba(13,32,67,1) 90% );
} */

/* .cls{

    width: 300px;
    height: 100px;
    background: #fffbd5;  
background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  
background: linear-gradient(to right, #b20a2c, #fffbd5); 

} */




/* .gomy-code-blue{
    color: rgb(22, 148, 221);
} */
/* .cls{
    width: 600px;
    height: 100px;
    background-color:red ;
} */

/* p{
    color: blue;
    width: 600px;
}
   */

/* p::first-line{
    text-transform: uppercase;
    color: red;
    font-weight: bold;
} */
  
   ol li{
    color: var(--primary-color);
   }

   a{
    color: var(--primary-color);
   }


   h3{
    color: var(--primary-color);
   }


/* #about{
   height: 50vh;
   background-color: red;

} */
/* #contact{
   height: 200px;
   background-color: green;

} */



.square2{
    /* width: 100px;
    height: 100px;
    background-color: red; */

    /* fonts  */
    font-size: 40px;
  
    /* font-weight: bold; */
    /* font-style: oblique; */
    /* font-family:Arial, Helvetica, sans-serif; */
     font-family: "Qahiri", sans-serif;
  font-weight: 400;
  font-style: normal;

    
} 


i{
    color: blue;
}

.square span{
    color: red;
    font-size: 30px;
}


/* .arabic-text{
  font-family: "Amiri", serif;
  font-weight: 700;
  font-style: normal;
  direction: rtl;
 
} */

.arabic-text{
 line-height: 22px;
 background-color: rgb(9, 140, 240);
 color: white;
 font-size: 20px;
 padding: 10px;
}



.para{

    text-align: left;

}

section{

   height: 500px;
   border: solid 2px black;
  /* display: flex;
  justify-content: center;
  align-items: center;  */
    
}
section p{
    text-align: center;
}
section img{

    width: 200px;
    height: 200px;

}


.para{

    text-decoration: line-through red;
}

.links {
    text-align: center;
}


a{
    text-decoration: none;
    color: red;
    text-align: center;
}

@media (min-width:300px) and (max-width:500px){
    p{
        color: red;
    }

    i{
        display: none !important;
    }
}

/* media queries device with standart sizes (min-max ) */

h1{
    text-transform: capitalize;
    /* text-shadow:-2px -10px 5px red,-5px 10px 5px blue,-10px 15px 5px orange ; */
    color: white;
    font-family: cursive;
    text-shadow: 1px 1px 10px blue;
    
}

ul  li{
 
    list-style: none;
}
/* body{
    background-color: black;
    color: white;
    cursor: url("./cursor.png") , auto;
} */


/* 
borders 

-width
-type (style)
-color
*/


.alert{
   width: 150px;
   height: 100px;
   background-color: #eee;
   /* border-width: 2px;
   border-style: dotted;
   border-color: blue; */
   border-bottom: orange solid 5px;
   border-top: red solid 5px;
   border-right: green solid 5px;
   border-left: blue solid 5px;
   border-radius: 50%;
}


table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    padding: 10px;
    border: solid 2px black;
    background-color: rgb(25, 112, 198);
    color:white;
    text-align: center;
}

.line{
    width: 100px;
    height: 5px;
    margin-top: 10px;
    background-image: linear-gradient(to left , blue , orange);
}



/* 
-Margin 
-Padding
-display
-visibily
-opacity
Layout:
-Position

*/



button{
    background-color: blue;
    color: white;
    border: none;

   
}


article.gm{

    width: 300px;
    border: solid;
    padding: 10px;
    border:#eee8df 0.3px solid  ;
    border-radius: 15px;
}


article.gm img{
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
article.gm .btn-container{
    margin-bottom: 10px;
   
    
    /* margin: 0 auto; */
}
article.gm .btn-container span{

    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    padding: 1.5px;
    margin-left:25px ;
    
 
}


.g{
    background-color: #06522d;
    color: white;
    font-weight: bold;

}
.p{
    color: white;
    background-image: linear-gradient(97deg, #9533FC 0%, #FF5FC8 100%);
  
    width: 100px;


}


a[href="test"]{
    
    display: block;
    font-size: 16px;
    line-height: 20px;
   font-family: "Sora", sans-serif;
   font-weight: 600;
   color: black;
   transition: 0.3s;
   text-align: justify;
   margin-left: 10px;
   

   

}

a[href="test"]:hover{
    color: rgb(165, 90, 255)

}

article.gm p{
   font-size: 14px;
   font-family: "Sora", sans-serif;
   font-weight: 400;
   line-height: 24px;
   width: 90%;
   margin-left: 10px;
  

}





a[href="test2"]{

display: block;
background-color: #0f0f0f;
margin: 0 auto;
font-size: 16px;
font-family: "Sora", sans-serif;
font-weight: 600;
color: white;
padding: 5px;
width: 90%;
border-radius: 5px;

transition: 0.3s;


}

a[href="test2"]:hover{
    box-shadow: 1px 1px 10px red;
}




.parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px ;
}



.cls{

    width: 100px;
    height: 50px;
    background-color: red;
/* margin-top: 10px; */
    /* margin-top: 100px; */
     margin-left: 150px;
     padding-top: 13px;
    transition:0.5s; */
    /* margin-bottom: 10px; */

}
.cls2{
    width: 100px;
    height: 50px;
    background-color: rgb(14, 102, 35);

        /* margin-top: 10px; */

}
input{
    padding: 10px;
    border: none;
    color: red;
     caret-color: rgb(48, 233, 11);
}
::selection{
    background-color: yellow;
    color: green;
}

::placeholder{
    color: rgb(255, 0, 0);
    text-align: center;
   
}



.my_span{
    /* margin-top:10px;
    margin-left:20px;
    margin-right:30px;
    margin-bottom:20px; */
/* width: 200px; */
    /* margin:20px 10px 11px; */
    /* margin: 0px auto;
    background-color: red;
    text-align: center; */
}
