/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 body{
    background: black;
 }
 .wrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
 }
article{
    width: 350px;
    border: solid 5px rgb(247, 238, 238);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    box-shadow: 1px 1px 10px white;

}


article  .header{
    background-color: #4965af;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(188, 185, 185);
     
}
article  .header i{
    font-size: 20px;
    color: white;
    
}
article  .header input{
    width: 65%;
    border-radius: 15px;
    border: none;
    background-color: #365189;
    color: white;
    text-align: center;
    outline:none;
   
}
article  .header input::placeholder{
    color: white;
    text-align: center;
}
article .body{
    padding: 10px;
}
article .body .profile{
    display: flex;
    justify-content: space-between;
}
article .body .profile .user{
    display: flex;
}

article .body .profile .user  h2{
font-size: 13px;
margin: 7px 0px -3px 10px ;
font-weight:500;
}

article .body .profile .user i{
    color: #3b5998;
    font-size: 35px;
    
}
article .body .profile  span{
    font-size: 7px;
    margin-left: 10px;
    color: grey;
}
article .body .profile .user span i{
     font-size: 6px;
     color: grey;
}
.fa-ellipsis{
    margin-top: 5px;
}


article .body p{
    font-size: 12px;
}
article .body img{
    width:100%
}

article .body .stats{
    display: flex;
    font-size:12px ;
    justify-content: space-between;
}

article .body .stats .reactions i:not(.fa-face-surprise){
    border: solid;
    border-radius: 50%;
    padding: 2px;
    color: white;

}
article .body .stats .reactions i{
    margin: 0px -2.2px;
}
article .body .stats  .comments{
    margin-top: 2.2px;
}
article .body .stats .reactions .fa-heart{
    background-color:rgb(242, 68, 103) ;
}
article .body .stats .reactions .fa-thumbs-up{
    background-color:rgb(39, 88, 174) ;
}

.fa-face-surprise{
color:orange ;
font-size: 15px;

}




article .footer .separateur{
    width: 95%;
    height: 1px;
    background: grey;
    margin: 5px auto;
    border-radius: 3px;
    
}

article .footer .react {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
article .footer .react div{
    cursor: pointer;
    transition: .3s;
}

article .footer .react div span {
    text-transform: capitalize;
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: grey;
}
article .footer .react div i{
    font-size: 20px;
}

article .footer .react div:nth-child(1):hover{
    color: rgb(39, 88, 174) ;
    scale: 1.1;
}
article .footer .react div:nth-child(2):hover{
    color: rgb(236, 21, 21) ;
    scale: 1.1;
}
article .footer .react div:nth-child(3):hover{
    color: rgb(33, 169, 31) ;
    scale: 1.1;
}
