/* Css Syntax

*/

/* Selector{
    property:value;
    property:value;
    property:value;
    property:value;
} */

h3{
    color: green;
}

/* Selecteur Css */


/* Tagname */


h1{
    color: red;
}


/* p{
    color: blue;
} */


/* By id  */

#para1{
    color: green;
}


#elm1{
    color: orange;
}
#elm2{
    color: orange;

}
#elm3{
    color: orange;

}


/* by classname */


.elm{

    color: orange;
}

.cls{
    color: red;
}

.cls2{
    color: green;
}

.cls3{
    color: yellow;
}


.cls.cls2.cls3{
    color: pink;
}

input{
    display: block;
}

/* selection by attribute  */

[type="password"]{
background-color: red;
}



a[href="https://www.youtube.com"]{
    color: red;
}





section h2{
 color: red;
}


footer .section h2{
    color: GREEN;
}



li:not(.my_item){
    color: red;
}


.cls{

width: 612px;
height: 595px;

/* background-color: red; */

}

body{
    background-image: url(https://media.gettyimages.com/id/481616102/fr/photo/apple-montre-sport.jpg?s=612x612&w=gi&k=20&c=gUzzZTF_mdPBPvJZ0bHU_vozIkker4iY3RYjVVe5OIA=);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}


.avatar{
    width: 740px;
    height: 855px;
    background-image: url(https://img.freepik.com/vecteurs-libre/illustration-du-jeune-homme-souriant_1308-174669.jpg?semt=ais_hybrid&w=740&q=80);
    scale: 0.5;
}


